# Core Django
Django==6.0.5
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
PyJWT==2.12.1

# Database
psycopg==3.3.4
psycopg-pool==3.3.1
psycopg2==2.9.12

# Async & WebSockets
channels==4.3.2
daphne==4.2.1

# Task Queue (Celery & RabbitMQ)
celery==5.6.3
django-celery-beat==2.9.0
django-celery-results==2.6.0
pika==1.4.0

# Search
django-elasticsearch-dsl==8.2
elasticsearch==8.19.3
elasticsearch-dsl==8.18.0

# Images
pillow==12.2.0

# Django Utilities & Middleware
django-cors-headers==4.9.0
django-crontab==0.7.1
django-debug-toolbar==6.3.0
django-pghistory==3.9.2
django-pgtrigger==4.17.0
django-timezone-field==7.2.1

# Core Networking (Pinned for Security)
urllib3==2.7.0
requests==2.33.1

# Required dependency for django-celery-beat
cron-descriptor==1.4.5